
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

body, p, .main-typo {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    letter-spacing: normal;
}

.body-home {
    background-color: #000000;
    color: #ffffff;
}

h1, .h1-typo {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.257;
    letter-spacing: 0.05em;
    margin: 0;
    color: #bdae82;
}

.color-primary {
    color: #000000;
}

.color-secondary {
    color: #ffffff;
}

.color-hover {
    color: #bdae82;
}

.bgc-primary {
    background-color: #000000;
}

.bgc-secondary {
    background-color: #ffffff;
}

.bgc-hover {
    background-color: #bdae82;
}

.btn {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0em;
    padding: 7.5px 15px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
}

.btn-min-width {
    min-width: 220px;
}

.btn-gold {
    color: #000000;
    background-color: #BDAE82;
    border-color: #BDAE82;
}

.btn-gold:hover, .btn-gold.active {
    color: #ffffff;
}

.btn-dark {
    color: #BDAE82;
    border-color: #BDAE82;
    background-color: #000000;
}

.btn-dark:hover, .btn-dark.active {
    color: #ffffff;
}


.btn-transparent-primary {
    color: #BDAE82;
    background-color: transparent;
    border-color: #BDAE82;
}

.btn-transparent-primary:hover, .btn-transparent-primary.active {
    color: #ffffff;
    background-color: #BDAE82;
}

.header-wrapper {
    padding: 20px;
}

.header {
    background-color: #000000;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: relative;
    z-index: 102;
}

.footer {
    position: relative;
    z-index: 101;
}

.header a {
    color: inherit;
}

.header-list {
    display: flex;
    align-items: center;
    margin-left: -15.5px;
    margin-right: -15.5px;
}

.header-list>.header-list-item {
    padding-left: 15.5px;
    padding-right: 15.5px;
}

.header-list-item-menu {
    margin-left: auto;
}



.body-fixed-header {
    position: relative;
}

.body-fixed-header .header {
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.nav-close {
    display: none;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0 -30px;
    padding: 0;
}

.nav-list .nav-item {
    padding-left: 30px;
    padding-right: 30px;
}

.active {
    color: #BDAE82;
}


.nav-link {
    text-decoration: none;
}

.nav-list-lang {
    margin-left: -12.5px;
    margin-right: -12.5px;
}

.nav-list-lang .nav-item {
    position: relative;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.nav-list-lang .nav-item::before {
    content: '/';
    display: none;
    line-height: 1;
    letter-spacing: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav-list-lang .nav-item~.nav-item::before {
    display: block;
}


.header_logo {
    width: 50px;
    height: 50px;

}

.nav {
    margin-left: auto;
}


.section-title {
    margin-top: 100px;
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 4;
    letter-spacing: 0em;
    text-align: center;
}


.hero {
    position: relative;
}

.hero h1 {
    margin: 0;
    font-size: 60px;
    line-height: 2;
    /* letter-spacing: 0em; */
    text-align: left;
    color: #ffffff;

}

.hero-wrapper {
    position: absolute;
    top: 250px;
    left: 0;
    margin-left: 80px;
}

.hero-img img {
    display: inline-block;
    width: 100%;
    height: auto;

}


.hero-content {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0em;
    text-align: left;
    width: 500px;
}


.skills {
    /* height: 482px; */
    background-color: #000000;
}

.skills-item-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.skills-icon {
    width: 62px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.skills-title {
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0em;
    text-align: center;

}

.skills-content {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}


/* Перечеркивание */

.section-title {
    max-width: 100%;
    overflow: hidden;
}

.section-title-text {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    color: #BDAE82;
}

.section-title-text:before,
.section-title-text:after {
    content: "";
    display: block;
    position: absolute;
    width: 274px;
    top: 50%;
    height: 1px;
    background-color: #BDAE82;
    transform: translateY(-50%);
}

.section-title-text:before {
    left: 100%;
}

.section-title-text:after {
    right: 100%;
}

.portfolio {
    background-color: #000000;
}

.portfolio-group-btn {
    display: block;
    text-align: center;
    padding-bottom: 60px;
}


.portfolio-group-foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-foto {
    flex: 0 1 33.33333%;
    padding: 12.5px;
    
}

.portfolio-foto img {
    display: block;
    width: 100%;
}
.container-video {
    position: relative;
}

.video {
    /* height: 945px; */
    background-color: #000000;
}

.video-foto {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.video-foto img {

    width: 100%;
}

.play-hover {
    position: absolute;
     top: 50%;
    left: 50%;
    display: block;
    margin-right: -50%; 
    transform: translate(-50%, -50%);

}
.play-hover img {
    width: 100%;
}

svg:hover #svg-hover {
    fill: #BDAE82;
}


.price {
    /*  height: 845px; */
    background-color: #000000;
}

.price-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.price-title {
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0em;
    text-align: center;

}

.price-money {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0em;
    text-align: center;
    color: #BDAE82;
}

.price-description {
    margin: 0;
    margin-bottom: 40px;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0em;
    text-align: center;

}

.price-item {
    width: 450px;
    padding-top: 43px;
    padding-bottom: 43px;
    border-radius: 0px;
    border: 3px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

.btn-price-container button {
    display: block;
    margin: 0 auto;
}

h2 {
    margin: 0;
}

.contacts {
    position: relative;
}

.contacts-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 450px;
    margin-right: 20px;
    padding-bottom: 200px;

}

.contact-img img {
    display: inline-block;
    width: 100%;
    height: auto;
}

.form-wrapper {
    list-style-type: none;

}

.section-title-contact {
    margin-bottom: 40px;
    padding: 0;
    text-align: left;
}

.section-title-contact::before,
.section-title-contact::after {
    display: none;
}

.form-wrapper {
    margin: 0;
    padding: 0;
}

.form-wrapper input, .form-wrapper textarea {
    background: transparent;
    border: 2px solid #BDAE82;
    color: #BDAE82;
    width: 100%;
    height: 50px;
    padding: 5px 0 5px 20px;
}

.form-wrapper textarea {
    height: 100%;
}

.form-row {
    margin-bottom: 20px;
}

.form-wrapper input::placeholder,
.form-wrapper textarea::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #BDAE82;
}

.copy-footer {
    font-size: 40px;
    color: red;
}

.foooter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    padding-left: 20px;
}

.footer-text, .footer-copy {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #bdae82;
}

.footer-links {
    color: #ffffff;
}

.footer-text {
    padding-left: 20px;
    padding-right: 20px;
}

.footer_social_item {
    padding-right: 20px;
    padding-left: 20px;
}


@media only screen and (min-width: 769px) {
    .hidden-desktop {
        display: none !important;
    }
}

@media only screen and (max-width : 768px) {
    .hidden-mobile {
        display: none !important;
    }

    .main-navbar {
        display: none;  
        /* position: fixed;
        z-index: 1002;
        top: 0;
        right: -620px; */
        transform: translateX(200%);
        bottom: 0;
        left: 770px;
        background: rgba(0, 0, 0, 0.5);
        transition: transform 0.5s ease;
    }

    .main-navbar.activeNavbar {
        display: block;
        right: 0;
        left: 0;
        transform: translateX(0);
    }

   

    .main-navbar .header-nav-main {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 620px;
        overflow-y: auto;
        background-color: #000000;
        padding: 130px 78px;
    }

    .main-navbar .nav-list {
        flex-direction: column;
        align-items: flex-start;
        font-size: 35px;
        line-height: 2.5;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 44px;
        width: 50px;
        height: 50px;
    }

    .hamburger div {
        width: 100%;
        margin-bottom: 10px;
        height: 3px;
        background-color: #ffffff;
    }

    .header a {
        padding-left: 40px;
    }

    .nav-list-lang {
        padding-bottom: 15px;
    }

    .hero {
        height: 590px;
    }

    .hero-wrapper {
        top: 172px;
        padding: 0;
        margin-left: 60px;
    }

    .hero h1 {
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 0em;
        text-align: left;
    }

    .hero-content {
        font-style: normal;
        line-height: 24px;
        width: 390px;
    }

    .mb-60-mobile {
        margin-bottom: 60px;
    }


    .section-title-text:before,
    .section-title-text:after {
        width: 120px;
    }

    .section-title {
        margin-top: 80px;
        margin-bottom: 36px;
    }

    .skills-item-wrapper {
        flex-wrap: wrap;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 13px;
    }

    .skills-item-wrapper>.skills-item {
        margin: 5px;
    }

    .skills-item {
        width: 300px;
    }


    .skills-icon {
        margin-bottom: 30px;
    }

    .skills-content {
        margin-bottom: 40px;
    }

    .skills-item {
        max-width: 300px;
    }

    .m-mobile {
        margin-bottom: 50px;
        margin-top: 90px;
    }

    .portfolio-group-btn {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        width: 450px;
        margin: auto;
        padding-bottom: 40px;
    }

    .portfolio-group-btn>button {
        margin: 2.5px;
    }

    .portfolio-group-foto {
        justify-content: space-around;
    }

    .section-title-text {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
    }

    .portfolio-foto img {
        width: none;
    }

    .video>h2 {
        margin: 0;
        margin-top: 65px;
        margin-bottom: 55px;
    }

    .container-video img {
        display: block;
        width: 106vw;
    }

    .play-hover {
        top: 52%
    }

    .play-hover svg {
        width: 73px;
        height: 73px;
    }

    .price>.section-title {
        margin-top: 85px;
        margin-bottom: 50px;
    }

    .price-wrapper {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .price-wrapper:last-child {
        margin-bottom: 35px;
    }

    .btn-price-conteiner {
        margin-bottom: 0;
    }

    .price-item {
        width: 420px;
        margin-bottom: 40px;
    }


    .contacts-container {
        margin: 0;
        padding: 0;
        right: 21%;
        top: 38%;

    }

    .contact-img img {
        height: 600px;
    }

    .section-title-contact {
        text-align: center;
    }

    .form-row>button {
        display: block;
        margin: auto;
    }

    .form-wrapper textarea {
        margin-bottom: 18px;
    }

    .foooter-wrapper {
        flex-direction: column;
        padding: 0;
    }

    .footer-simbol {
        margin-top: 18px;
        line-height: 1.15;
    }

    .footer_social_item {
        padding-right: 6px;
        padding-left: 9px;
    }


    .main-navbar  .nav-close {
        display: block;
        position: absolute;
        top: 34px;
        right: 80px;
        width: 45px;
        height: 45px;
        cursor: pointer;

    }

    .nav-close::before,
    .nav-close::after {
        content: "";
        position: absolute;
        top: 10px;
        display: block;
        width: 55px;
        height: 2px;
        background: #ffffff;
    }

    .nav-close::before {
        transform: rotate(45deg);
    }

    .nav-close::after {
        transform: rotate(-45deg);
    }

}



